<!-- we're going to send to this form a @pet object that is populated -->

<div class="wrapper-new">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Edit your pet's details here</h3>
        <div class="pet-pic">
        <%= render 'shared/view_pet_image' %>
        </div>
        <%= render 'shared/form' %>
      </div>
    </div>
  </div>
  <div class="redirect-all-pets">
   <%= link_to "Back to all pettos", pets_path, class: 'btn btn-warning' %>
  </div>
  <div class="redirect-all-pets">
   <%= link_to "Unlist this Petto", pet_path(@pet), :method => :delete, :confirm => "Are you sure?", class: 'btn btn-danger' %>
  </div>
</div>
