
<div class="wrapper-new">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>List a New Petto</h3>
        <%= render 'shared/form' %>
      </div>
    </div>
  </div>
  <div class="redirect-all-pets">
   <%= link_to "Back to all pettos", pets_path, class: 'btn btn-warning' %>
  </div>
</div>
