

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 10%), url('https://source.unsplash.com/sWkkIiTJMYc/1600x900');">
  <div class="banner-content">
    <h1>Welcome to Petto!</h1>
    <p>Have a pet, be happy</p>
     <%= link_to "Login now", user_session_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>hey</h2>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
  </div>
</div>
 -->
<div class="container_index">
  <div class="btn">
  <%= link_to "Check our all of pets!", pets_path, class: 'btn-group-lg btn-success btn-lg' %>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/ZRZSmK362Xw/1600x900');">
        <div class="card-description">
          <h2>Dog</h2>
        </div>
        <a class="card-link" href="/pets?utf8=✓&query=Dog" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/Qmox1MkYDnY/1600x900');">
        <div class="card-description">
          <h2>Cat</h2>
        </div>
        <a class="card-link" href="/pets?utf8=✓&query=Cat" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/-Ylz_tc8NOk/1600x900');">
        <div class="card-description">
          <h2>horse</h2>
        </div>
        <a class="card-link" href="/pets?utf8=✓&query=Horse" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/i4XLJmlYit4/1600x900');">
        <div class="card-description">
          <h2>Pig</h2>
        </div>
        <a class="card-link" href="/pets?utf8=✓&query=Pig" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/5cq1KWrWxOY/1600x900');">
        <div class="card-description">
          <h2>Kangaroo</h2>
        </div>
        <a class="card-link" href="/pets?utf8=✓&query=Kangaroo" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/gGC63oug3iY/1600x900');">
        <div class="card-description">
          <h2>Bird</h2>
        </div>
        <a class="card-link" href="/pets?utf8=✓&query=Bird" ></a>
      </div>
    </div>
  </div>
</div>

